.emojis {
    position: relative;
}

.emojis-container {
    position: absolute;
    top: -270px;
    right: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    width: 310px;
    height: 250px;
    padding: 5px;
    overflow-y: auto;
}

.emoji-btn {
    background: none;
    border: none;
    transition: all 0.3s;
}

.emoji-btn:hover {
    background-color: #0064b5;
    cursor: pointer;
}