.register {
  width: 30%;
  margin: 50px auto;
  padding: 3rem;
  box-shadow: var(--shadow-sm-2);
  background-color: white;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5%;
}

@media (max-width: 780px) {
  .register {
    width: 90%;
  }
}

@media (min-width: 780px) and (max-width: 1200px) {
  .register {
    width: 60%;
  }
}