/**/

.text-grey-light {
  color: var(--light-grey);
}

.text-blue-dark {
  color: var(--dark-blue);
}

.text-pink {
  color: var(--pink);
}

.text-beige {
  color: var(--beige);
}

.text-bold-7 {
  font-weight: 700;
}



.highlight-dark-blue {
  color: var(--dark-blue);
}

/**/

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  opacity: 0.9;
  transition: all 0.5s;
}

.logo:hover {
  color: white;
  opacity: 1;
}

.nav-item {
  font-size: 1.4rem;
  color: white;
  opacity: 0.8;
  transition: all 0.3s;
}

.nav-item:hover,
.nav-item:focus {
  opacity: 1;
  color: white;
}

/*Form Button*/
.secondary-btn {
  color: white;
  background-color: rgba(198, 35, 104, 0.8);
  /* border: 2px solid var(--pink); */
  box-shadow: var(--shadow-sm-1);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}

.secondary-btn:hover,
.secondary-btn:active,
.secondary-btn:focus {
  background-color: rgba(198, 35, 104, 1) !important;
  border: 2px solid var(--pink) !important;
}

.secondary-btn:disabled,
.secondary-btn[disabled] {
  background-color: rgba(198, 35, 104, 0.5) !important;
  border: 2px solid rgba(198, 35, 104, 0.1) !important;
}

.secondary-btn-outline {
  border: 2px solid var(--pink);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 1.5rem;
  color: var(--pink);
  text-decoration-line: none;
}

.secondary-btn-outline:hover,
.secondary-btn-outline:active,
.secondary-btn-outline:focus {
  background-color: rgba(198, 35, 104, 1) !important;
  border: 2px solid rgba(198, 35, 104, 1) !important;
  color: white;
}

.form-input {
  border: 1px solid rgba(198, 35, 104, 0.3) !important;
  padding: 0.1rem 0.5rem;
}

.form-input:focus,
.form-input:active {
  border: 2px solid rgba(198, 35, 104, 1) !important;
}

.error-message {
  color: rgb(248, 48, 48);
  margin-top: 0.1rem;
  margin-bottom: 0;
}


