.chat-window {
    max-height: 90%;
    min-height: 90%;
    overflow-y: auto;
    background-color: white;
}

.chat-section {
    position: fixed;
    height: 90%;
    width: inherit;
    padding: 10px;
  }