.item {
    color: var(--dark-blue);
    transition: all 0.3s;
}

.item:hover {
    background-color: var(--dark-blue);
    color: white;
}

.count-badge {
    padding: 0 5px;
    text-align: center;
    font-weight: 700;
    font-size: 0.75rem;
    border-radius: 5px;
    background-color: rgb(245, 56, 56);
    color: white;
}