.chat-window li {
    border: none;
    padding: 0 0.5em 0.3em 0;
    font-weight: 600;
    font-size: 1.1em;
}

.bubble {
    padding: 0.27em 0.77em;
    border-radius: 1em;
    max-width: 40%;
}

.bubble-left {
    background-color: var(--dark-blue);
    color: #fff
}

.bubble-right {
    background-color: #efefef;
}

.online {
    color: rgb(66, 177, 66);
  }
  
.idle {
    color: rgb(226, 150, 36);
  }
  
.busy {
    color: rgb(245, 79, 13);
  }
