.login {
  width: 35%;
  margin: 50px auto;
  padding: 3rem;
  box-shadow: var(--shadow-sm-2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.75rem;
}

@media (max-width: 780px) {
  .login {
    width: 90%;
  }
}

@media (min-width: 780px) and (max-width: 1200px) {
  .login {
    width: 60%;
  }
}

.dialog-box {
  text-align: center;
  border-radius: 0.75rem;
  margin: 50px auto;
  box-shadow: var(--shadow-sm-2);
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
}


